



/* CSS declarations go here */
.tableHeader{
	background: #428bca;
	color: #fff;
}
input[type=text] {
  /*width: 250px;*/
  height: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.assSearch{
  padding: 0px;
  text-align: right;
}
.noData{
	font-size: 16px; 
	text-align: center;
	color: #f22;
}
.headingText{
	text-align: center;
}
.btnWrap{
	text-align: right;
	padding: 0px;
}

#getValue {
    width: 300px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#searchRec {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}