



/* CSS declarations go here */
.tableHeader{
	background: #428bca;
	color: #fff;
}
input[type=text] {
  width: 250px;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.assSearch{
  padding: 0px;
}
.noData{
	font-size: 16px; 
	text-align: center;
	color: #f22;
}
.headingText{
	text-align: center;
}